{% extends 'content-base.html' %}
{% load staticfiles %}
<!-- External Headers -->
{% block external_headers %}
<link rel="stylesheet" href="{% static "style/scientific-research_achievement.css" %}" />
{% endblock %}
<!-- End External Headers -->

{% block content %}
<!-- Main Frame -->
<div class="article">
	<div class="suoyin"><span class="blue_k"> </span><span class="suoyin_nr">首页 > 科学研究</span></div>
	<div class="bt">科研成果</div>
	<div class="main_nr">
		<div class="ach_box">
			<div class="ach_bt"><p>科研成果1</p>
				<p>2013年&nbsp;&nbsp;&nbsp;&nbsp;负责人：</p></div>
				<div class="ach_box_nr">
					<img src="images/test1.jpg" alt="" />
					<p>电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子</p>
				</div>
				<div class="block1"></div>
			</div>
			<div class="ach_box">
				<div class="ach_bt"><p>科研成果2</p>
					<p>2013年&nbsp;&nbsp;&nbsp;&nbsp;负责人：</p></div>
					<div class="ach_box_nr">
						<img src="images/test1.jpg" alt="">
						<p>电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子电子</p>
					</div>
					<div class="block1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Main Frame -->
{% endblock %}