{% extends 'content-base.html' %}
{% load staticfiles %}
<!-- External Headers -->
{% block external_headers %}
<link rel="stylesheet" href="{% static "style/news_center_p_style1.css" %}" />
{% endblock %}
<!-- End External Headers -->

<!-- Main Frame -->
{% block content %}
<div class="article">
	<div class="suoyin"><span class="blue_k"> </span><span class="suoyin_nr">首页 > 新闻中心 > 正文</span></div>
	<div class="bt">电子系举办第二届师生羽毛球比赛</div>
	<div class="main_nr">
		<p>电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子</p>
		<p>系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛电子系举办第二届师生羽毛球比赛</p>
		<div class="pub_message">
			<div class="author">作者：李华</div>
			<div class="pubdata">发表时间：<time datetime="2014-07-20" pubdate="pubdate">2014-07-29</time></div>
		</div>
	</div>
</div>
{% endblock %}
<!-- End Main Frame -->