.major-item {
	text-indent: 20px;
}


.rellinks {
	width: 240px;
	height: 25px;
	border: 2px solid #00468C;
}

.double-cell {
	float: left;
	width: 50%;
}

.summery-title {
	overflow: hidden;
}

.summery-title p {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	position: relative;
	z-index: 0;
}