.sidebar {
	float: left;
	width: 285px;
	min-height: 200px;
	padding: 0;
	margin: 0;
	background-color: #EEE;
}

.main-frame {
	float: left;
	margin: 0;
	padding: 0;
	min-height: 200px;
	width: 72%;
}

.sidebar-box {
	width: 95%;
	padding: 0 8px;
	margin: 10px 0 0 0;
}

.box {
	width: 47%;
	float: left;
	margin: 10px 0 0 22px;
}

.double-box {
	width: 94%;
	overflow: auto;
	margin: 10px 0 0 22px;
}


.title-box {
	font-size: 17px;
	line-height: 17px;
	padding: 4px 0 4px 10px;
	border-bottom: 1px solid #00468C;
	margin-bottom: 5px;
}

.title-box span {
	line-height: 17px;
	font-size: 17px;
	color: #00468C;
}

.content-box {
	padding: 5px 0 0 0;
}

p.card {
	display: block;
	background-color: #00468C;
	font-size: 15px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	color: #FFF;
	margin: 5px;
}

.notice-box {
	margin: 0 0 0 14px;
}

.notice-box li {
	width: 330px;
	height: 23px;
	border-bottom: 1px dotted #000;
}

.notice-box li:hover {
	background-color: #EEE;
}

.notice-box a:link, .notice-box a:visited, .notice-box a:hover, .notice-box a:active {
	line-height: 23px;
	width: 275px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	text-decoration: none;
	color: #000;
}

.notice-box span {
	float: right;
	position: relative;
	right: 0;
	top: -20px;
	line-height: 20px;
	font-size: 12px;
}

.notice-box-with-summery {
	padding: 0;
	height: 110px;
	text-align: center;
	border-bottom: 1px dotted #000;
}

.notice-summery {
	text-align: left;
	max-height: 85px;
	overflow: hidden;
}