@charset "utf-8";
/* CSS Document */

.main_nr
{ 
	clear:both; 
	margin-left:20px; 
	min-height:200px;
}
.content_p
{
	width:432px; 
	min-height:89px; 
	float:left; 
	margin-top:20px;
}
.content_p p
{ 
	word-break:break-all; 
	word-spacing:normal; 
	text-indent:2em; 
	font-size:13px;
}
.main_nr img
{ 
	float:left; 
	margin-left:25px; 
	margin-top:20px;
}
.clear
{
	clear: both;
}
.blue_bg
{ 
	background:#00468C;
	width:85px; 
	text-align:center; 
	height:28px; 
	line-height:28px; 
	color:#FFF; 
	font-size:14px;  
	margin-top:100px;
	clear:both;
}
.blue_bg_long
{ 
	width:145px; 
	background:#00468C;
	text-align:center; 
	height:28px; 
	line-height:28px; 
	color:#FFF; 
	font-size:14px;  
	margin-top:20px;
	clear:both;
}
/*.margin_bottom{ margin-bottom:50px;}*/