/*****************************************/
/*******************大标题****************/
.dbt{
	background-image: url("../images/banner.jpg");
	float: left;
	background-size: 980px 150px;
	width: 980px;
	height: 150px;
	margin-top: 0px;
}
.dbt_name{
	float: left;
	font-family: "宋体";
	color: white;
	font-size: 30px;
	font-weight: bold;
	width: 280px;
	height: 150px;
	background-color: rgba(0,0,0,0.4);
}
.dbt_name span{
	display: inline-block;
	clear: both;
	float: left;
	margin-top: 95px;
	width: 280px;
	text-align: center;
}
/*****************************************/
/*******************侧栏******************/
.cl{
	float: left;
	width: 280px;
	height: 380px;
	background-color: #EEEEEE;
}
.cl_nav li{
	list-style-type: none;
}
.cl_nav a{
	display: block;
	width: 280px;
	height: 40px;
	text-decoration: none;
	color: #000000;
	/*垂直居中*/
	line-height: 40px;
	vertical-align: 20px;
	/*****/
	text-align: center;
	font-size: 15px;
}
.cl_nav a:hover{
	background-color: #FFFFFF;
	color:#00468C;
}
/*友情链接*/
.yq_link{
	float: left;
	margin-top: 90px;
}
.youqinglianjie{
	float: left;
	margin-left: 10px;
	color: #00468C;
	font-size: 18px;
	width: 260px;
	height: 28px;
	text-indent: 10px;
	border-bottom: 1px solid #000000;
}
select{
	opacity: 0; 
	filter: alpha(opacity: 0;); 
	float: left;
	width: 240px;
	height: 25px;
}
.select{
	float: left;
	width: 240px;
	height: 25px;
	margin-left: 20px;
	margin-top: 18px;
	background-image: url("../images/select_back.jpg");
	background-size: 240px 25px;
}
/**********/
/*****************************************/
/***************内容部分*************/
.article{
	float: left;
	width: 700px;
}
.suoyin{
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	font-size: 10px;
}
.blue_k{
	display: inline-block;
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 2px; 
	background-color: #00468C;
}
.suoyin_nr{
	float: left;
	margin-left: 6px;
}
.bt{
	clear: both;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	width: 660px;
	text-align: center;
	font-size: 20px;
	height: 50px;
	/*垂直居中*/
	line-height: 40px;
	vertical-align: 20px;
	/*****/
	border-bottom: 1px solid #00468C;
}