* {
	margin: 0;
	padding: 0;
	outline: none;
}



body {
	margin: 0 auto;
	max-width: 980px;
	font-family: "微软雅黑";
	font-size: 13px;
}

.container{
	width: 980px;
	margin-top: 10px;
}

.banner{
	clear: both;
	width: 980px;
	height: 100px;
	background-image:url("../images/logo.jpg");
	background-size:980px 100px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #00468C;
}
/********************导航条*******************/
.banner_nav {
	position: relative;
	top: 65px;
	margin-left: 36%;
}

.banner_nav ul {
	margin: 0;
	padding: 0;
}

.banner_nav li{
	float: left;
	list-style-type: none;
	text-align: center;
	display: inline;
}

.menu-title {
	min-width: 66px;
	text-align: center;
	padding: 11px 0;
}


.menu-title a{
	display: block;
	text-decoration: none;
	height: 13px;
	line-height: 13px;
	color: #000000;
	font-size: 13px;
	text-align: center;
	padding: 0 5px;
	border-right: 1px solid #00468C;
}

.menu {
	position: absolute;
	z-index: 999;
	display: none;
	border: 1px solid #00468C;
	overflow: hidden;
}

.menu li{
	float: none;
	list-style-type: none;
}

.menu a{
	text-decoration: none;
	outline: none;
	display: block;
	color: #000;
	text-align: center;
}

.menu a:hover {
	color: #FFF;
	background-color: #00468C;
}


/**********************************************/


.footer{
	float: left;
	text-align: right;
	background-color: #00468C;
	height:40px;
	width: 980px;
}

.footer-inf {
	margin-right: 5px;
	text-align: right;
	height: 30px;
}

.footer-inf p {
	margin-top: 4px;
	color: #FFF;
	line-height: 14px;
}
