<div class="sidebar">
	<div class="sidebar-box">
		<div class="title-box">
			<span>院系概况</span>
		</div>
		<div class="content-box sidebar-content-box">

			<img src="/static/images/intro.jpg" width="125px" height="80px" alt="Intro."/>
			<p>电子与通信工程系成立于1980年。经过多年的建设，形成了鲜明的办学特色和明显的学科优势。现设有通信工程和电子信息科学与技术2个本科专业；计算机通信1个专科专业…</p>
		</div>
	</div>
	<div class="sidebar-box">
		<div class="title-box">
			<span>师资队伍</span>
		</div>
		<div class="content-box">

			<div class="content-box sidebar-content-box">
				<p class="card">电子学教研室</p>
				<p class="card">通信教研室</p>
				<p class="card">信息网络教研室</p>
			</div>
		</div>
	</div>
	<div class="sidebar-box">
		<div class="title-box">
			<span>专业设置</span>
		</div>
		<div class="content-box sidebar-content-box">

			<div class="content-box">
				<p><strong>本科专业</strong></p>
				<p class="major-item">通信工程专业</p>
				<p class="major-item">电子信息与科学技术专业</p>
				<p><strong>研究生专业</strong></p>
				<p class="major-item">电子与通信工程专业</p>
				<p class="major-item">信息与通信工程专业</p>
				<p class="major-item">电路与系统专业</p>
			</div>
		</div>
	</div>
	<div class="sidebar-box">
		<div class="title-box">
			<span>友情链接</span>
		</div>
		<div class="content-box sidebar-content-box">
			<select class="rellinks" onchange="javascript:if(this.selectedIndex!=0) window.open(this.options[this.selectedIndex].value,'_blank');">
				<option>相关链接</option>
				<option value="http://www.ncepu.edu.cn" title="华北电力大学" label="华北电力大学">华北电力大学</option>
				<option value="http://jwc.ncepu.edu.cn" title="华北电力大学教务处（北京）" label="教务处（北京）">教务处（北京）</option>
				<option value="http://www.hee.cn" title="河北省教育厅" label="河北省教育厅">河北省教育厅</option>
				<option value="http://www.moe.edu.cn" title="中华人民共和国教育部" label="中华人民共和国教育部">中华人民共和国教育部</option>
			</select>
		</div>
	</div>
</div>